[submodule "shakshuka_css"]
	path = shakshuka_css
	url = https://github.com/brianhvo02/shakshuka_css.git
[submodule "flight_project"]
	path = flight_project
	url = https://github.com/brianhvo02/flight_project.git
[submodule "todo_board"]
	path = todo_board
	url = https://github.com/brianhvo02/todo_board.git
